@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color:white;
}

*{
    margin: 0;
    padding: 0;
}

 nav{
     list-style: none;
 }
nav a{
      font-family: 'Nanum Gothic', sans-serif;
    
}
 
.searchBox{
    margin: 30px;
    cursor: pointer;
    border: none;
    border-radius: 34px;
    
}
.searchBox input{
    padding-left: 13px;
}
.searchBox input{    
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none    
}
.login{
      color: red;
    cursor: pointer;
    font-weight: bold;
     /* border-style:inherit; */
     /* border-radius: 34px; */
}
.login:hover{
    /* border:thistle ; */
    border-top:rgb(247, 45, 45) solid;
    /* border-bottom: rgb(221, 64, 64) solid ; */
    background-color: antiquewhite;
     
}
.nav-item  li a:hover{
     
      border-bottom: red solid !important;
  }
  .nav-item a:hover
  {
    border-bottom: red solid;
  }
 .fa-thin{
     height: 10px;
 }

 .containerr ul{
     display: flex;
     align-items: center;
     list-style-type: none;
     font-weight: 500;
     text-align:center;
     cursor: pointer;
 }
 .containerr ul li{
     padding: 0 12px;
 }
  .containerr ul li:hover{
   
     border-bottom: red solid;
 }

 
    .containeer{
        min-height: 70vh;
        background-color: rgb(105, 99, 99);
        color: white;
        font-family: 'Varela Round', sans-serif;
        display: flex;
        width: 70%;
        margin: 23px auto;
    
        border-radius: 12px;
        padding: 34px;
        background-image: url(./listningsong.jpg);
        background-size: cover;
        background-position: center;
    }
    .songItemcontainer{
        margin-top: 74px;
    
    }
    .songItem{
        height: 50px;
        display: flex;
        background-color: white;
        color: rgb(107, 95, 95);
        margin: 12px 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }
    
    .songItem img{
        width: 48px;
        margin: 0 15px;
        border-radius: 34px;
    }
    
    .timestamp{
        margin: 0 23px;
        
    }
    
    .timestamp i{
        cursor: pointer;
    }

 .uff-carousel img{
    height: 500px;
    width: 800px;
} 

.card img{
    border: red solid 1px;
}
 
 h3{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold; 
 }

 .bottom{
    position: sticky;
    height: 85px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin: 12px 0;

}
.icons{
    cursor: pointer;
}
#myProgressBar{
    width: 60vw;
    text-align: center;
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

  .row{
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;     
}
  .column{

      flex: 50%;
    float: left;
    width: 300px;
    padding-left: 50px;
    height: 360px;
}
 .row::after{
    content: "";
    display: table;
    clear: both;
}

#login{
    margin-top: 50px;
    padding-top: 30px;
}
/* .signup:hover{
      

} */